<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      MATCH ME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <div class="container">
      <div class="container-title-signup">
        SIGN UP
      </div>
      <div class="container-input-sigup">
        <div class="container-input">
          <img src="../../../assets/images/user.png" />
          <input type="text" placeholder="Enter your Username"/>
        </div>
        <div class="container-input">
          <img class="img-email" src="../../../assets/images/email.png" />
          <input type="email" placeholder="Enter your Email"/>
        </div>
        <div class="container-input">
          <img src="../../../assets/images/lock.png" />
          <input type="password" placeholder="Enter your Password"/>
        </div>
        <div class="container-input">
          <img src="../../../assets/images/lock.png" />
          <input type="password" placeholder="Confirm your Password"/>
        </div>

        <div class="container-btn-signup">
          <ion-button fill="solid">Continue</ion-button>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-content>
