<ion-header class="ion-no-border">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <div class="container">
      <div class="container-img">
        <img class="container-background" src="../../../assets/images/Line.png" />
        
        <div class="container-img-item">
          <div class="container-img-you">
            <img src="../../../assets/images/You.png" />
          </div>
          <div class="container-img-newfriend">
            <img src="../../../assets/images/New Friend.png" />
          </div>
          <div class="container-img-music">
            <img src="../../../assets/images/Music.png" />
          </div>
          <div class="container-img-fashion">
            <img src="../../../assets/images/Fashion.png" />
          </div>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-content>