<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      MATCH ME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <div class="container">
      <div class="container-title-login">
        LOG IN
      </div>
      <div class="container-input-login">
        <div class="container-input">
          <img src="../../../assets/images/user.png" />
          <input type="email" placeholder="Enter your Username"/>
        </div>

        <div class="container-input">
          <img src="../../../assets/images/lock.png" />
          <input type="password" placeholder="Enter your Password"/>
        </div>

        <div class="container-forgot-password">
          <ion-button fill="clear" class="ion-no-padding">FORGOT PASSWORD?</ion-button>
        </div>

        <div class="container-btn-login">
          <ion-button fill="solid">Log In</ion-button>
        </div>

        <div class="container-text-or">
          OR
        </div>
        
        <div class="container-btn-different-login">
          <div class="container-btn">
            <img src="../../../assets/images/google.png" />
            <div>Login with Google</div>
          </div>
  
          <div class="container-btn">
            <img src="../../../assets/images/facebook.png" />
            <div>Login with Facebook</div>
          </div>
        </div>

        <div class="container-text-signup">
          <div class="container-text">Don't have an account?</div>
          <ion-button fill="clear" class="ion-no-padding">Sign Up</ion-button>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-content>