<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
    <div class="container">
      <img class="container-logo" src="../../../assets/images/Logo_MacthMeApp_Fianl.png" />
      <h1 class="container-title">MATCH ME</h1>
      <div class="container-form">
        <div class="container-form-title">SIGN IN</div>
        <ion-input class="container-form-input" label="Email" label-placement="floating" fill="outline"
          placeholder="Your Email" type="email"></ion-input>
        <ion-input class="container-form-input" label="Password" label-placement="floating" fill="outline"
          placeholder="Your Password" type="password"></ion-input>
        <div class="container-form-around-text">
          <div class="container-form-around-remember">
            <input type="checkbox">
            <div class="container-form-remember">Remember me</div>
          </div>
          <div class="container-form-forgot">Forgot Password?</div>
        </div>
        <div class="container-form-button-signin">
          <ion-button class="button-signin" fill="solid">SIGN IN</ion-button>
        </div>
        <div class="container-form-text-or">OR</div>
        <div class="container-form-icon-signin">
          <img class="container-form-image" src="../../../assets/images/facebook.png" />
          <img class="container-form-image" src="../../../assets/images/google.png" />
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-content>