<ion-header class="ion-no-border">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <div class="container">
      <div class="container-img">
        <img class="container-background" src="../../../assets/images/Vector.png" />
        <div class="container-logo">
          <img src="../../../assets/images/Logo_MacthMeApp_Fianl.png" />
          <h1 class="container-title-text">MATCH ME</h1>
        </div>
      </div>

      <ion-button fill="solid">GET STARTED!</ion-button>
    </div>
  </ion-card-content>
</ion-content>